header {
    display: flex !important;
    flex-direction: column !important;
    padding: 0 !important;
    border-bottom: none !important;
}

.header__logo--image {
    height: 80px;
    display: flex;
    align-items: center;
    margin-left: 14px;
    width: 140px;
}

.top_bar {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 140px;
}

.menu_bar {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #c3c3c3ab !important;
    z-index: 10;
}

.menu_bar.at-top {
    border-top: 1px solid #c3c3c3ab !important;
}

.menu_bar.scrolled {
    border-top: 1px solid #4343434d !important;
}

.header__menu {
    margin-left: 120px;
}

.homepage_banner img {
    object-fit: cover;
}

.header_search_and_collection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.header_search_container {
    width: 100%;
    position: relative;
    z-index: 100;
    transition: all 0.3s ease;
    max-width: 800px;
    margin: 0px 40px;
}

.header_search_container.at-top input {
    background: #43434300;
    color: currentColor;
    border: 1px solid #c3c3c3ab;
}

.header_search_container.scrolled input {
    background: #f6f6f6;
    color: #434343;
    border: none;

}

.header_search {
    border: none;
    background: #f6f6f6;
    color: #434343;
    padding: 14px 20px;
    border-radius: 4px;
    font-size: 14px;
    padding-left: 14px;
    border-radius: 12px;
    transition: all 0.3s ease;
    width: 100%;

    /* background: #f6f6f6; */
}

.header_search_icon {
    position: absolute;
    width: 20px;
    right: 20px;
    top: 13px;
}

.header_search::placeholder {
    color: currentColor;
}


.header_search:focus {
    outline: none;
}

.search_dropdown_menu_container {
    position: absolute;
    top: 50px;
    background: white;
    width: 100%;
    color: #434343;
    padding: 20px;
    border-radius: 12px;
}

.search_dropdown_menu_container img {
    width: 60px;
}

.search_drawer-menu {
    margin: 20px 0px;
    z-index: 100;
}

.search_drawer-menu .header__menu {
    justify-content: center;
}

.search_drawer-menu ul {
    position: relative;
}

.dropdown__container {
    width: max-content;
}

.search_drawer-menu .dropdown {
    top: 24px;
}

.search__input {
    border: 1px solid black !important;
}

.dropdown {
    z-index: 400;
    width: max-content;
}

.search_drawer-menu .dropdown {
    pointer-events: auto !important;
}

.header_search_container_2 {
    display: none;
}

.header_mom {
    display: flex;
    flex-direction: column;
}

.search_dropdown_content {
    border-top: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    padding: 20px 0px;
}

.search_dropdown_content_text {
    font-size: 14px !important;

}


.header_search_container input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.header_search_container:has(summary.open) label {
    color: black;
}
   
.drawer__content {
    max-width: 400px;
}

@media screen and (max-width: 1600px) {
    .top_bar {
        padding: 0px 80px;
    }

    .header_search_container {
        max-width: 500px;
    }

    .header__menu {
        margin-left: 140px;
    }
}

@media screen and (max-width: 1024px) {
    .top_bar {
        padding: 0px 40px;
    }

    .menu_bar {
        border-bottom: none !important;
        border-top: none !important;
        padding: 0;
    }

    header .header__menu {
        display: none;
    }

    .header_search_container {
        max-width: 300px;
        margin: 0px 10px;
    }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 425px) {
    .top_bar {
        padding: 0px 18px;
    }

    .header__logo {
        margin-left: 60px;
    }

    .drawer__inner {
        min-width: 280px;
    }

    .header_search_container input {
        display: none;
    }



    .header_search_icon {
        position: unset;
    }

    .header_search_container_1 {
        display: none;
    }

    .header_search_container_2 {
        display: flex;
        margin-top: 6px;
    }

    .header__icons_2 {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}